name: test
on: [push, pull_request]

jobs:
  build:
    runs-on:
      labels: ubuntu-slim
    name: Test Elixir ${{ matrix.elixir }} / OTP ${{ matrix.otp }}
    strategy:
      fail-fast: false
      matrix:
        elixir: ['1.18.x', '1.19.x']
        otp: ['28.x']
    env:
      ImageOS: ubuntu24
      MIX_ENV: test
    steps:
      - uses: actions/checkout@v5
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp }}
          elixir-version: ${{ matrix.elixir }}
      - uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{ matrix.otp }}-${{ matrix.elixir }}-
      - run: mix deps.get
      - run: mix compile --warnings-as-errors
      - run: mix deps.unlock --check-unused
      - run: mix format --check-formatted
      - run: mix test
